# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
enroll
osquery.conf
build/package/MSI/Installer/obj
build/package/MSI/.vs
build/package/MSI/Installer/bin